  <div>
    <a href="/profiles/{{viking.data.username}}">
      <img src="{{viking.profile.picUrl}}" alt="{{viking.data.username}}" class="img-responsive img-thumbnail">
      <h3>{{viking.data.username}}</h3>
      <p>Location: {{viking.profile.location}}</p>
    </a>
  </div>